Documents/GitHub/EcoWorld/* filter=lfs diff=lfs merge=lfs -text
test_ios/Libraries/libiPhone-lib.a filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.google.firebase.app@6.16.1/Firebase/Plugins/x86_64/FirebaseCppApp-6_16_1.so filter=lfs diff=lfs merge=lfs -text
Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
test_1_Ecoworld.app/Contents/Frameworks/UnityPlayer.dylib filter=lfs diff=lfs merge=lfs -text
