<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292704897447-srp5hknltp30ott96ohjvb08l7db46qb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292704897447-srp5hknltp30ott96ohjvb08l7db46qb</string>
	<key>API_KEY</key>
	<string>AIzaSyBRwayXLC8g2IKyKI3NjWeXb8xgdJzcAbA</string>
	<key>GCM_SENDER_ID</key>
	<string>292704897447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.Ecoworld</string>
	<key>PROJECT_ID</key>
	<string>ecoworld-d2bbc</string>
	<key>STORAGE_BUCKET</key>
	<string>ecoworld-d2bbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292704897447:ios:fef6c02f56087013a10e82</string>
	<key>DATABASE_URL</key>
	<string>https://ecoworld-d2bbc.firebaseio.com</string>
</dict>
</plist>